html{
    padding:0px;
    margin: 0%;
}

body{
    background-color: rgb(10, 9, 20);
    padding: 0;
    margin: 0;
    font-family: Manrope;
    color: rgb(207, 206, 223);   
}

h1{
    font-size: 2rem;
    color: white;
}
p{
    font-size: larger;
    text-align: center;
    margin: auto;
}
#header{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top:10rem ;
    padding-bottom: 10rem;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
#side-bar{
    height: 100vh;
    width: 25%;
    background-color: rgb(63, 49, 53);
    position: fixed;
    top: 0;
    color: white;    
    display: flex;
    flex-direction: column;
}

#side-bar ul li :hover{
    opacity: 100;
}
#side-1 ul li {
    font-size: 1.1rem;
    margin-top: 1rem;
    color: rgb(228, 193, 200);
    list-style: none;
    font-size: small;
}

#side-1 ul :hover{
    color: rgb(255, 255, 255);
    
}

#side-1 ul{
    margin-top: 2rem;
    font-size: larger;
}

#search-box{
    background-color: rgba(255, 255, 255, 0.16);
    color: white;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 100px;
    margin-top: 2rem;
    min-width: 30%;
    max-width: 90%;
}


::-webkit-scrollbar-track {
    background-color: transparent;
    overflow: overlay;
    width: 5px;
    z-index: 100;
}

::-webkit-scrollbar {
    width: 5px;
    overflow: overlay;
    z-index: 100;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    visibility: visible;
    border-radius: 100px;
    width: 3px;
    background-color: #d8d8d8;
    z-index: 150;
}


.pc{
visibility: visible;
display: flex;
}

.mob{
visibility: hidden;
display: none;
}

.pclg{
visibility: visible;
display: auto;
}

.moblg{
visibility: hidden;
display: none;
}

@media screen and (max-width: 768px) {

.mob{
visibility: visible;
display:flex;
}
.pc{
visibility: hidden;
display: none;
}
}

@media screen and (max-width: 1024px) {

.pclg{
    visibility: hidden;
    display: none;
}

.moblg{
    visibility: visible;
    display:flex;
}
h1{
    font-size: larger;
}
p{
    font-size: small;
}
}
